@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html{
    scroll-behavior: smooth;
}

.scroll-cue{
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    background: none;
}

.hero-section{
    position: relative;
    background: #f7f7ff;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-content: center;
    font-family: "Space Grotesk", "IBM Plex Sans", "Inter", "Roboto", Arial, sans-serif;
}

#introduction-container{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2;
    justify-content: space-around;
    z-index: 1;
}

.scrolling-text-container{
    width: 100vw;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    transform: rotate(-69deg) translateY(-30%);
    font-weight: 700;
    font-size: 20rem;
    z-index: 0;
    line-height: 130%;
    color: #f7e4e6;
    top: 0;
}

.scrolling-text-item-wrapper{
    display: flex;
    width: max-content;
    gap: 16rem;
    animation: var(--direction) 40s linear infinite;
}

#scrolling-text-two{
    align-self: flex-end;
    padding-left: 16rem;
}

#scrolling-text-one{
    padding-right: 16rem;
    align-self: flex-end;
}

#name-container{
    background: #F7F7FF20;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    backdrop-filter: blur(8px);
}

#i-am-text{
    font-size: 2.4rem;
    padding-left: 6px;
    font-weight: 500;
}

#fullname{
    font-size: 8rem;
    font-family: "Martian Mono", "Helvitica", "Arial", sans-serif;
    font-weight: 800;
}

#short-name{
    color: #4965F4;
}

#surname{
    padding-left: 8.4rem;
}

#logo-container{
    display: flex;
    position: relative;
    border: 1px solid #6ba6fd;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#logo{
    max-width: 400px;
    width: 50vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 0.5px solid rgb(107, 166, 253);
}

#logo-file-name{
    position: absolute;
    font-size: 0.8rem;
    top: 0;
    color: #6ba6fd;
    transform: translateY(-24px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.little-square{
    position: absolute;
    width: 2.4%;
    border: 1px solid rgb(107, 166, 253);
    aspect-ratio: 1;
    background-color: #FCFCFC;
    border-radius: 12%;
}

#cursor{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    max-width: 200px;
    aspect-ratio: 1;
    transform: rotate(54deg) translate(45%, 70%);   
}

#little-square-top-left {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

#little-square-top-right {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}

#little-square-bottom-left {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
}

#little-square-bottom-right {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
}

#line{
    position: absolute;
    width: 0;
    height: 50%;
    border: 0.5px dashed rgb(107, 166, 253);
}

#x-one{
    position: absolute;
    height: 12%;
    border: 0.5px dashed rgb(107, 166, 253);
    transform: rotate(45deg);
}

#x-two{
    position: absolute;
    height: 12%;
    border: 0.5px dashed rgb(107, 166, 253);
    transform: rotate(-45deg);
}

#horizontal-line{
    position: absolute;
    width: 200%;
    right: 0;
    transform: translateX(100%);
    border: 0.5px dashed rgb(107, 166, 253);
}

#about-myself{
    position: absolute;
    font-size: 1.4rem;
    right: 0;
    bottom: 10%;
    text-align: end ;
    padding: 10px;
}

/* Animation */
@keyframes scroll-left {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(50%);
    }
}

.isAnimated{
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
}

/* Scroll cue color variable */
:root{
    --scroll-cue-color: #1c1c1c62;
}

/* Scroll cue */
.scroll-cue{
    position: absolute;
    left: 50%;
    bottom: 2.4rem;
    
    transform: translateX(-50%);
    width:  60px;
    height: 60px;
    pointer-events: auto;
    z-index: 2;
}

.scroll-cue-bg,
.scroll-cue-icon{
    position: absolute;
}


.scroll-cue-bg{
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--scroll-cue-color);
    -webkit-mask: url("../assets/arrow_down_bg_shape.svg") center/contain no-repeat;
            mask: url("../assets/arrow_down_bg_shape.svg") center/contain no-repeat;
            
    animation: none;
}

.scroll-cue-icon{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    background-color: var(--scroll-cue-color);
    -webkit-mask: url("../assets/arrow_down.svg") center/contain no-repeat;
            mask: url("../assets/arrow_down.svg") center/contain no-repeat;
}

.scroll-cue:hover .scroll-cue-bg{
    animation: slow-rotate 18s linear infinite;
}

@keyframes slow-rotate{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}


/*Projects
#projects{
    position: relative;
    background: #efefff;
    height: 100vh;
    width: 100%;
    padding: 6rem;
    overflow: hidden;
    font-family: "Space Grotesk", "IBM Plex Sans", "Inter", "Roboto", Arial, sans-serif;
}*/