:root {
    --navbar-height: 68px;
    --space-between-sections: clamp(100px, 18vh, 250px);
    --vert-pattern-width: 4px;
    --padding-small: 8px;
    --on-primary: hsl(240, 100%, 98%);

    --scroll-to-top-btn-width: 50px;
}

[data-theme="light"] {
    --seperator: hsl(0, 0%, 30%);
    --background: hsl(240, 20%, 90%);
    --text-primary: hsl(0, 0%, 0%);
    --text-secondary: hsl(0, 0%, 0%);
    --pattern-slanted-line: hsl(0, 0%, 5%);
    --pattern-dots: hsl(0, 0%, 30%);
    --navbar: hsl(240, 20%, 90%);
    --primary-btn: hsl(224, 87%, 60%);
    --primary-btn-hover: hsl(224, 87%, 70%);
    --hover-outline: #005ce6;
}

[data-theme="dark"] {
    --seperator: hsl(235, 12%, 17%);
    --background: hsl(240, 100%, 2%);
    --text-primary: hsl(240, 100%, 98%);
    --text-secondary: hsl(240, 10%, 80%);
    --pattern-slanted-line: hsl(216, 5%, 40%);
    --pattern-dots: hsl(216, 5%, 40%);
    --navbar: hsl(240, 10%, 10%);
    --primary-btn: hsl(224, 87%, 50%);
    --primary-btn-hover: hsl(224, 87%, 70%);
    --hover-outline: #f5f5ffaf;
}

html::-webkit-scrollbar {
    display: none;
}

* {

    color: var(--text-secondary);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 100;
    font-family: 'Outfit', Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--background);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    height: var(--navbar-height);
    justify-content: space-between;
    border-bottom: 1px solid var(--seperator);
    z-index: 10;

    background-color: var(--navbar);
}

#navbar-image {
    content: url(assets/navbar-image.gif);
    aspect-ratio: 1;
    margin: 8px 16px;
    border-radius: 100px;
}

#theme-toggle {
    display: flex;
    background-color: var(--navbar);
    height: calc(100% - 12px);
    aspect-ratio: 1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 16px;
    border: 0;
}


#theme-toggle:hover {
    background-color: var(--seperator);
}

#navbar-links {
    display: none;
    height: 100%;
}

#navbar-links a {
    padding: 8px;
    aspect-ratio: 2/0.9;
    text-decoration: none;
    text-align: center;
    align-content: center;
    font-weight: 100;
    color: var(--text-primary);
}

#navbar-links a:hover {
    border-bottom: 1px solid var(--text-primary);
    font-weight: 400;
}

#btn-scroll-to-top {
    display: flex;
    position: fixed;
    width: var(--scroll-to-top-btn-width);
    aspect-ratio: 1;
    right: 5vw;
    bottom: 5dvh;
    border: 1px solid var(--seperator);
    border-radius: 8px;
    color: var(--text-secondary);
    background: var(--navbar);
    z-index: 10;
    transition: all 0.1s ease-in;

    justify-content: center;
    align-items: center;

    opacity: 0;
}

#btn-scroll-to-top:hover {
    background: var(--seperator);
}

section {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--space-between-sections) 0;
}

section .section-title {
    position: absolute;
    align-self: flex-start;
    align-content: flex-end;
    text-align: end;
    width: calc(10vw - var(--vert-pattern-width));
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 1.4rem;

    writing-mode: sideways-lr;
    padding: 4px 0;
}

section .content {
    position: relative;
    width: 100%;
    padding: 0 calc(10vw + var(--padding-small));
    border-top: 1px solid var(--seperator);
    border-bottom: 1px solid var(--seperator);
}

#vertical-pattern-container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    gap: 80vw;
    pointer-events: none;
    z-index: 9;
}

#vertical-pattern {
    width: var(--vert-pattern-width);
    background-color: var(--seperator);
}

#projects-container {
    display: grid;
    padding: 8px 0;
    gap: 8px;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
}

.project {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
    backdrop-filter: blur(1.5px);
    transition: all 0.05s ease-in-out;
    outline: 2px solid var(--seperator);
}

.project:hover {
    outline-color: #f5f5ffAF;
}

.project a img {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

#wip::before {
    padding: 0 18px;
    content: 'WIP';
    border: 10px solid transparent;
    border-image: url('assets/wip_border.png') 9 round;
    font-size: clamp(1.2rem, calc(1vw + 1rem), 1.6rem);
}

#connect-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10vw;
}

.connect-option {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--seperator);
    font-size: clamp(1.2rem, calc(1vw + 1rem), 1.6rem);
}

.connect-option:hover {
    border-color: var(--hover-outline);
}

.connect-option a:hover {
    color: var(--hover-outline);
    font-weight: 400;
}

.connect-option a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#greeting-text {
    font-weight: 400;
    font-size: clamp(1.4rem, calc(2vw + 1.2rem), 4rem);
}

#name {
    color: var(--text-primary);
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: clamp(5rem, calc(9vw + 1rem), 10rem);
}

#extra-text {
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: clamp(1.6rem, calc(1vw + 1rem), 2.2rem);
}

#btn-download-resume {

    background-color: var(--primary-btn);
    border: none;
    opacity: 0.3;
    color: var(--on-primary);
    font-weight: 400;
    font-size: 1.2rem;
    padding: 16px 32px;
    cursor: not-allowed;
}

.content p {
    font-size: clamp(1.2rem, calc(1vw + 1rem), 1.6rem);
}

section::before {
    content: '';
    position: absolute;
    width: 10vw;
    height: 100%;
    left: 0;
    -webkit-mask-image: url('assets/pattern_slanted_lines.svg');
    mask-image: url('assets/pattern_slanted_lines.svg');
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    -webkit-mask-position: center;
    mask-position: center;
    opacity: 0.5;

    /* color for your pattern */
    background-color: var(--pattern-slanted-line);
}

section::after {
    content: '';
    position: absolute;
    width: 10vw;
    height: 100%;
    right: 0;
    -webkit-mask-image: url('assets/pattern_slanted_lines.svg');
    mask-image: url('assets/pattern_slanted_lines.svg');
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    -webkit-mask-position: center;
    mask-position: center;
    opacity: 0.5;

    /* color for your pattern */
    background-color: var(--pattern-slanted-line);
}

.patterned-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10vw;
    width: 80vw;
    height: 100%;


    -webkit-mask-image: url('assets/pattern_dots.svg');
    mask-image: url('assets/pattern_dots.svg');
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    -webkit-mask-size: auto;
    mask-size: auto;
    -webkit-mask-position: center;
    mask-position: center;
    opacity: 0.3;

    background-color: var(--pattern-dots);
}

@media (min-width:900px) {
    #extra-text {
        word-wrap: normal;
        padding-right: 45%;
    }

    #navbar-links {
        display: flex;
    }
}

@media (min-width:1000px) {
    #projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #connect-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1200px) {
    section .section-title {
        writing-mode: horizontal-tb;
        padding-right: 8px;
    }


    #connect-container {
        grid-template-columns: repeat(4, 1fr);
    }

}